{% extends "ticket/base.html" %}
{% block content %}
<body>
    <style>
        #id_nome, #id_entidade
        {
            width: 300px;
        }

    </style>
    <h2 style="font-weight:bold; margin-bottom:25px; color:#117B76">Criar Aplicação</h2>
    <form method="post">
        {% csrf_token %}
        <h6>Nome da App:</h6>
        {{ form.nome }}
        <p></p>
        <h6>Entidade:</h6>
        {{ form.entidade }}
        <p></p>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'listaticket' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</body>
{% endblock content %}