{% extends "ticket/base.html" %}
{% block content %}
   
    <body>

        <style>
            .row p
            {
                text-align: center;
            }  
            
            .popup {
              position: relative;
              display: inline-block;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
            
            /* The actual popup */
            .popup .popuptext {
              visibility: hidden;
              width: 500px;
              background-color: #117B76;
              color: #fff;
              text-align: center;
              border-radius: 6px;
              padding: 16px;
              position: absolute;
              z-index: 1;
              top: 80%;
              left: 50%;
              margin-left: -80px;
            }
            
            /* Popup arrow */
            .popup .popuptext::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: #555 transparent transparent transparent;
            }
            
            /* Toggle this class - hide and show the popup */
            .popup .show {
              visibility: visible;
              -webkit-animation: fadeIn 1s;
              animation: fadeIn 1s;
            }
            
            /* Add animation (fade in the popup) */
            @-webkit-keyframes fadeIn {
              from {opacity: 0;} 
              to {opacity: 1;}
            }
            
            @keyframes fadeIn {
              from {opacity: 0;}
              to {opacity:1 ;}
            }
            
        </style>

        <h2 class="mt-2">Detalhes do Ticket: {{ ticket.titulo }}</h2>
        <hr>

        {% if user.is_admin or user.role == "Interno" %}
            <div>
                <!-- Botão para recuar estado -->
                {% if ticket.estado.id > 1 %}
                        <form method="post" action="{% url 'recuar_estado_ticket' ticket.uuid %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                            </svg>
                        {{ anterior.estado }}</button>
                    </form>
                {% endif %}
                
                ||

                <!-- Botão para avançar estado -->
                {% if ticket.estado.id < 7 %}
                    {% for num in seguinte %}
                        {% if num.id == 5 %}
                            <form method="post" action="{% url 'avancar_estado_ticket' ticket.uuid %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" name ="valor" value="{{ num.fim.id }}" class="btn btn-primary" style="background-color:{{num.cor}}; border-color:{{num.cor}};">
                                {{ num.texto }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause-fill" viewBox="0 0 16 16">
                                    <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5m5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5"/>
                                </svg>
                                </button>
                            </form>
                        <!-- Caso o Estado tenha como fim "Fechado" -->
                        {% elif num.id == 6 %}
                        <button type="submit" onclick="PopUp2()" name ="valor" value="{{ num.fim.id }}" class="btn btn-primary" style="background-color:{{num.cor}}; border-color:{{num.cor}};">
                            {{ num.texto }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
                            </svg>
                        </button>
                        
                        <div class="popup">
                            <div class="popuptext" id="myPopup2">
                                <h3>Comentário de Resolução 2</h3>
                                <form method="POST" action="{% url 'avancar_estado_ticket' ticket.uuid %}">
                                    {% csrf_token %}
                                    {{ form2.as_p }}
                                    <button type="submit" name ="valor" value="{{ num.fim.id }}" style="background-color:white; color:black" class="btn btn-primary">Adicionar Resolução</button>
                                </form>
                            </div>
                        </div>  
                                <!--<form method="post" action="{% url 'avancar_estado_ticket' ticket.uuid %}" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" name ="valor" value="{{ num.fim.id }}" class="btn btn-primary" style="background-color:{{num.cor}}; border-color:{{num.cor}};">

                                    </button>
                                </form>-->
                                
                        {% else %}
                            <form method="post" action="{% url 'avancar_estado_ticket' ticket.uuid %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" name ="valor" value="{{ num.fim.id }}" class="btn btn-primary" style="background-color:{{num.cor}}; border-color:{{num.cor}};">
                                {{ num.texto }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                                </svg>  
                                </button>
                            </form>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                ||

                <!-- Botão para descartar ticket -->
                {% if ticket.estado.id != 6 and ticket.estado.id != 7 and ticket.estado.id > 1 and seguir.fim.estado != "Fechado" %}
                    
                <button class="btn btn-info" style="background-color:#343a40; border-color:#343a40;" onclick="PopUp()"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                    Cancelar Ticket
                </button>
                    <!--<form method="post" action="{% url 'fechado_estado_ticket' ticket.uuid %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info" style="background-color:#343a40; border-color:#343a40;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg>    
                        Descartar Ticket</button>
                    </form>
-->
                    
                    <div class="popup">
                        <div class="popuptext" id="myPopup">
                            <h3>Comentário de Resolução</h3>
                            <form method="POST" action="{% url 'fechado_estado_ticket' ticket.uuid %}">
                                {% csrf_token %}
                                {{ form2.as_p }}
                                <button type="submit" class="btn btn-primary">Adicionar Resolução</button>
                            </form>
                        </div>
                    </div>
        
                    
        
                    <script>
                        function PopUp() {
                          var popup = document.getElementById("myPopup");
                          popup.classList.toggle("show");
                        }

                        function PopUp2() {
                            var popup2 = document.getElementById("myPopup2");
                            popup2.classList.toggle("show");
                          }
                    </script>
                {% endif %}

                <div style="float:right">
                    {% if user.is_admin or user.role == "Interno"%}
                    <!-- Botões para editar ou apagar os tickets -->
                    <a href="{% url 'editar_ticket' ticket.uuid %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'apagar_ticket' ticket.uuid %}" class="btn btn-danger">Apagar</a>
                    {% endif %}
                    <!-- Botão para voltar a lista de tickets -->
                    <a href="{% url 'listaticket' %}" class="btn btn-secondary">Voltar</a>
                </div>


                
               
            </div>
        {% endif %}

        <hr>

        <div>
            <div class="row">
              <div class="col-2">
                <p><strong>Estado:</strong> <button style="background-color:{{ticket.estado.font_color}}; border-color:{{ticket.estado.font_color}}; width:200px; border-radius: 10px;"type="button" class="btn btn-primary">{{ ticket.estado.estado }}</button></p>
              </div>
              <div class="col-4">
                <p><p>{{ ticket.estado.descricao }}</p></p>
              </div>
              <div class="col">
                <p><strong>Criado por:</strong><p>{{ ticket.id_Proprietario.nome }}</p></p>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <p><strong>Data de Criação:</strong><p> {{ ticket.dataCriacao|date:"d/m/Y H:i" }}</p></p>
              </div>
              <div class="col-4">
                <p><strong>Descrição:</strong><p>{{ ticket.descricao }}</p></p>
              </div>
              <div class="col">
                <p><strong>URL Externo:</strong><p><a href="http://{{ ticket.url }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text-fill" viewBox="0 0 16 16">
                        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1"/>
                    </svg>    
                Link</a></p></p>
              </div>
            </div>
        </div>
        
        <!-- Formatação antiga
        <p><strong>Estado:</strong> <button style="background-color:{{ticket.estado.font_color}}; border-color:{{ticket.estado.font_color}}; width:200px; border-radius: 10px;"type="button" class="btn btn-primary">{{ ticket.estado.estado }}</button></p>
        <p><strong></strong> {{ ticket.estado.descricao }}</p>
        <p><strong>Data de Criação:</strong><p> {{ ticket.dataCriacao|date:"d/m/Y H:i" }}</p></p>
        <p><strong>Descrição:</strong> {{ ticket.descricao }}</p>
        <p><strong>Criado por:</strong> {{ ticket.id_Proprietario.nome }}</p>
        -->
        
        <!--
        {% if user.is_admin or user.role == "Interno"%}
        # Botões para editar ou apagar os tickets
        <a href="{% url 'editar_ticket' ticket.uuid %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'apagar_ticket' ticket.uuid %}" class="btn btn-danger">Apagar</a>
        {% endif %}
        # Botão para voltar a lista de tickets
        <a href="{% url 'listaticket' %}" class="btn btn-secondary">Voltar</a>
        -->

        <hr>
        <!-- Comentários dos operadores, internos e admin -->
        {% if user.is_admin or user.role == "Interno"%}
            <h3>Comentários</h3>
            <!-- Lista dos comentários já feito num tickest -->
            <ul>
                {% for comentario in comentarios %}
                <li>
                    <p><strong>{{ comentario.operador.nome }}</strong> em {{ comentario.data_criacao }}</p>
                    <p>{{ comentario.conteudo }}</p>
                </li>
                {% empty %}
                <p>Não há comentários ainda.</p>
                {% endfor %}
            </ul>

            <hr>
            
            {% if ticket.estado.estado == "Fechado" or ticket.estado.estado == "Cancelado" %}

            <button onclick="PopUp()"></button>

            <div class="popup">
                <div class="popuptext" id="myPopup">
                    <h3>Comentário de Resolução</h3>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form2.as_p }}
                        <button type="submit" class="btn btn-primary">Adicionar Comentário de Resolução</button>
                    </form>
                </div>
            </div>

            
            

            <script>
                // When the user clicks on <div>, open the popup
                function PopUp() {
                  var popup = document.getElementById("myPopup");
                  popup.classList.toggle("show");
                }
            </script>
            {% endif %}
            
            {% if ticket.estado.estado != "Fechado" and ticket.estado.estado != "Descartado" %}
            <!-- Formulário para introduzir novo comentário -->
            <div>
                <h3>Adicionar um Comentário</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Adicionar Comentário</button>
                </form>
            </div>
            {% endif %}
        {% endif %}
    </body>
{% endblock content %}