{% extends "ticket/base.html" %}
{% block content %}
    <body>
        <h2 class="mt-2">Detalhes do Ticket: {{ ticket.titulo }}</h2>
    
        <p><strong>Status:</strong> <button style="background-color:{{ticket.estado.estado.font_color}}; border-color:{{ticket.estado.estado.font_color}}; width:200px; border-radius: 10px;"type="button" class="btn btn-primary">{{ ticket.estado.estado.estado }}</button>
        <p><strong>Status desc:</strong> {{ ticket.estado.estado.descricao }}</p>
        <p><strong>Data de Criação:</strong> {{ ticket.dataCriacao|date:"d/m/Y H:i" }}</p>
        <p><strong>Descrição:</strong> {{ ticket.descricao }}</p>
        <p><strong>Criado por:</strong> {{ ticket.id_Proprietario.nome }}</p>
        
        {% if user.is_admin or user.role == "Interno"%}
        <a href="{% url 'editar_ticket' ticket.uuid %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'apagar_ticket' ticket.uuid %}" class="btn btn-danger">Apagar</a>
        {% endif %}
        
        <a href="{% url 'listaticket' %}" class="btn btn-secondary">Voltar</a>

        <hr>
        {% if user.is_admin or user.role == "Interno" %}
            <div>
                <!-- Botão para recuar estado -->
                {% if ticket.estado.estado.tem_estado_anterior %}
                    <form method="post" action="{% url 'recuar_estado_ticket' ticket.uuid %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Recuar Estado</button>
                    </form>
                {% endif %}

                <!-- Botão para avançar estado -->
                {% if ticket.estado.estado.tem_proximo_estado %}
                    <form method="post" action="{% url 'avancar_estado_ticket' ticket.uuid %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Avançar Estado</button>
                    </form>
                {% endif %}
            </div>
        {% endif %}
        <hr>

        {% if user.is_admin or user.role == "Interno"%}
        <h3>Comentários</h3>

        <ul>
            {% for comentario in comentarios %}
            <li>
                <p><strong>{{ comentario.operador.username }}</strong> em {{ comentario.data_criacao }}</p>
                <p>{{ comentario.conteudo }}</p>
            </li>
            {% empty %}
            <p>Não há comentários ainda.</p>
            {% endfor %}
        </ul>

        <hr>

        <h3>Adicionar um Comentário</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Adicionar Comentário</button>
        </form>
        {% endif %}
    </body>
{% endblock content %}