{% extends "ticket/base.html" %}
{% block content %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
<body>
    <h2>Lista de Tickets</h2>

    {% if user.is_authenticated %}
        <p>Os seus tickets</p>
    {% else %}
        <p><a href="{% url 'login' %}">Entrar</a></p>
    {% endif %}

    {% if tickets %}
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Status</th>
                    <th>Data de Criação</th>
                    <th>Criado por</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.nome }}</td>
                        <td>{{ ticket.estado.estado }}</td>
                        <td>{{ ticket.dataCriacao|date:"d/m/Y H:i" }}</td>
                        <td>{{ ticket.usuarios.nome }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum ticket encontrado.</p>
    {% endif %}

    <a href="{% url 'novoticket' %}">Criar Novo Ticket</a>
</body>
{% endblock content %}