{% extends "ticket/base.html" %}
{% block content %}
<body>
    <h2>Lista de Tickets</h2>

    {% if user.is_authenticated %}
        <p>Olá, {{ user.username }}! <a href="{% url 'logout' %}">Sair</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Entrar</a></p>
    {% endif %}

    {% if tickets %}
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Status</th>
                    <th>Data de Criação</th>
                    <th>Criado por</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.nome }}</td>
                        <td>{{ statuslog.estado }}</td>
                        <td>{{ ticket.dataCriacao|date:"d/m/Y H:i" }}</td>
                        <td>{{ ticket.usuarios.nome }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum ticket encontrado.</p>
    {% endif %}

    <a href="{% url 'novoticket' %}">Criar Novo Ticket</a>
</body>
{% endblock content %}