{% extends "ticket/base.html" %}

{% block content %}

<style>

    @property --num {
      syntax: "<integer>";
      initial-value: {{ por_abrir }};
      inherits: true;
    }

    @property --num2 {
        syntax: "<integer>";
        initial-value: {{ aberto }};
        inherits: true;
      }
    
    @property --num3 {
        syntax: "<integer>";
        initial-value: {{ total }};
        inherits: true;
      }

    @property --num4 {
        syntax: "<integer>";
        initial-value: {{ designado }};
        inherits: true;
      }

    #animate {
      animation: counter 5s;
      counter-reset: num var(--num);
      font: 800 40px system-ui;
      padding: 2rem;
    }
    #animate::after {
      content: counter(num);
    }

    #animate2 {
        animation: counter 5s;
        counter-reset: num2 var(--num2);
        font: 800 40px system-ui;
        padding: 2rem;
      }
      #animate2::after {
        content: counter(num2);
      }

    #animate3 {
        animation: counter 5s;
        counter-reset: num3 var(--num3);
        font: 800 40px system-ui;
        padding: 2rem;
      }
      #animate3::after {
        content: counter(num3);
      }
    
    #animate4 {
        animation: counter 5s;
        counter-reset: num4 var(--num4);
        font: 800 40px system-ui;
        padding: 2rem;
      }
      #animate4::after {
        content: counter(num4);
      }  
    
    @keyframes counter {
      from {
        --num: 0;
        --num2: 0;
        --num3: 0;
        --num4: 0;
      }
      to {
        --num: {{ por_abrir }};
        --num2: {{ aberto }};
        --num3: {{ total }};
        --num4: {{ designado }};
      }
    }
</style>

{% if user.is_authenticated %}
    
  {% if user.is_admin or user.role == "Interno"%} <!-- Lado Operador -->

  <h2 style="margin-bottom:25px">Qsupport - Pagina Inicial</h2>

  <hr>

  <h3 style="margin-bottom:25px">Estatisticas</h3>

  <div align="center">
      <div class="row">
        <div class="col-md-4">
          <button type="button" class="btn btn-primary" aria-haspopup="true" aria-expanded="false" style="width:100%; border-radius:5px;border-color:#117B76;border-width:5px">
              <font size="6">Tickets Abertos:
              <div id="animate" style="margin-left:150px ; text-align: right; font-weight: bold; font-size:200px">
                  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-ticket-detailed-fill" viewBox="0 0 16 16">
                  <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zm4 1a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5m0 5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5M4 8a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H5a1 1 0 0 0-1 1"/>
                  </svg>
              </div>
            </font></button>
        </div>

        <div class="col-md-4">
            <button type="button" class="btn btn-secondary" ng-click="Proceed()" aria-haspopup="true" aria-expanded="false" style="width:100%; border-radius:5px;border-color:#117B76;border-width:5px">
            <font size="6">Tickets por Abrir:
              <div id="animate2" style="margin-left:150px ; text-align: right; color:white; font-weight: bold; font-size:200px">
                  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-ticket-detailed-fill" viewBox="0 0 16 16">
                  <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zm4 1a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5m0 5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5M4 8a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H5a1 1 0 0 0-1 1"/>
                  </svg>
              </div>
            </font></button>
        </div>

        <div class="col-md-4">
          <button type="button" class="btn btn-dark" ng-click="Proceed()" aria-haspopup="true" aria-expanded="false" style="width:100%; border-radius:5px;border-color:#117B76;border-width:5px">
          <font size="6">Total de Tickets:
            <div id="animate3" style="margin-left:150px ; text-align: right; color:white; font-weight: bold; font-size:200px">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-ticket-detailed-fill" viewBox="0 0 16 16">
                <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zm4 1a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5m0 5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5M4 8a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H5a1 1 0 0 0-1 1"/>
                </svg>
            </div>
          </font></button>
        </div>

      </div>

  <hr>

  <div align="center">
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-info" aria-haspopup="true" aria-expanded="false" style="width:100%; border-radius:5px;border-color:#117B76;border-width:5px"><font size="6">Mais Estatisticas</font></button>
        </div>
      <div class="col-md-6">
            <button type="button" class="btn btn-success" aria-haspopup="true" aria-expanded="false" style="width:100%; border-radius:5px;border-color:#117B76;border-width:5px"><a href={% url 'ticket-novo' %}><font size="6">Criar Ticket Interno</font></a></button>
        </div>
  </div>

  {% else  %} <!-- Lado Cliente -->

  <h2 style="margin-bottom:25px">Qsupport - Pagina Inicial</h2>

  <hr>

  <h3 style="margin-bottom:25px">Home</h3>

  <div align="center">
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-info" aria-haspopup="true" aria-expanded="false" style="width:100%; border-radius:5px;border-color:#117B76;border-width:5px">
            <a href={% url 'ticket-novo' %}>
                  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="40" fill="currentColor" class="bi bi-ticket-detailed-fill" viewBox="0 0 16 16">
                  <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zm4 1a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5m0 5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5M4 8a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H5a1 1 0 0 0-1 1"/>
                  </svg>
                  <font size="8" style="margin-left:10px">Criar Ticket
            </a>
        </div>
            </font></button>

      
        <div class="col-md-5">
          <button type="button" class="btn btn-info" aria-haspopup="true" aria-expanded="false" style="width:100%; border-radius:5px;border-color:#117B76;border-width:5px">
            <a href={% url 'profile' %}>
                  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="40" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                  </svg>
                <font size="8" style="margin-left:10px">Perfil
            </a>
        </div>
          </font></button>
        </div>
  </div>

       

  {% endif %}

{% endif %}

{% endblock content %}