{% extends "ticket/base.html" %}
{% block content %}
<body>
    <!-- Formulário para pesquisa com filtro -->
    <div class="card-header">
        <form method="get">
            {{ filter.form.as_p }}
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
    </div>
    <hr>
    <button type="button" class="btn btn-primary"><a href="{% url 'criar_app' %}">Registar Nova Aplicação</a></button>
    <button type="button" class="btn btn-primary"><a href="{% url 'associar_entid_app' %}">Associar Entidade a uma App</a></button>
    <hr>
    <!-- Apresentação do número de itens que a lista apresentada possui -->
    <h3>Resultados: {{ total }} aplicação(ões) encontrada(s)</h3>
    <hr>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID#</th>
                <th>Nome</th>
                <th>Ativo</th>
            </tr>
        </thead>
        <tbody>
            {% for aplicacao in aplicacao %}
            <tr>
                <td>{{ aplicacao.id }}</td>
                <td>{{ aplicacao.nome }}</td>
                <td>{{ aplicacao.ativo }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">Nenhuma aplicação registrada</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock content %}