{% extends "ticket/base.html" %}
{% block content %}
<body>
    
    <style>
    </style>

    <h2 style="margin-bottom:25px">Lista de Tickets</h2>
    <!-- Condição para apresentar a lista caso o utilizador seja um operador -->
    {% if user.is_authenticated %}
    
    {% if user.is_admin or user.role == "Interno"%}
    
    {% if ticketall %}
    <!-- Formulário para pesquisa com filtro -->
    <div class="card-header">
      <form method="get">
          {{ filter.form.as_p }}
          <button type="submit" class="btn btn-primary">Filtrar</button>
      </form>
    </div>
    <hr>
    <button type="button" class="btn btn-primary"><a href="{% url 'novoticket' %}">Criar Novo Ticket</a></button>
    <button type="button" class="btn btn-primary"><a href="{% url 'ticketsnaoatribuidos' %}">Aceitar Ticket</a></button>
    <hr>
    <!-- Número de itens que aparecem na tabela -->
    <h3>Resultados: {{ total }} ticket(s) encontrado(s)</h3>
    <hr>
    <!-- Tabela que apresenta a lista de itens -->
    <table class="table table-striped table-dark table-sm">
        <thead>
          <tr>
            <th style="text-align:center" class="col-2 col-sm-1">ID#</th>
            <th class="col-2 col-sm-1">Criado por:</th>
            <th class="col-2 col-sm-1">Título</th>
            <th class="col-2 col-sm-3">Data Criação</th>
            <th class="col-2 col-sm-2">Responsável</th>
            <th style="text-align:center" class="col-2 col-sm-1">Estado</th>
            <th class="col-3 col-sm-1"></th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in ticketall %}  
          <tr>
            <th style="text-align:center">{{ ticket.id }}</th>
            <td>{{ ticket.id_Proprietario.nome }}</td>
            <th scope="row">{{ ticket.nome }}</th>
            <td>{{ ticket.dataCriacao|date:"d/m/Y H:i" }}</td>
            <td>{{ ticket.usuarios.nome }}</td>
            <td style="text-align:center"><button style="background-color:{{ticket.estado.estado.font_color}}; border-color:{{ticket.estado.estado.font_color}}; width:200px"type="button" class="btn btn-primary">{{ ticket.estado.estado }}</button></td>
            <!--Detalhes-->
            <td><button type="button" class="btn btn-primary"><a href="{% url 'detalheticket' ticket.uuid %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-detailed-fill" viewBox="0 0 16 16">
                <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zm4 1a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5m0 5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5M4 8a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H5a1 1 0 0 0-1 1"/>
              </svg>
              </a></button>
            <!--Editar-->
            <button type="button" class="btn btn-success"><a href="{% url 'editar_ticket' ticket.uuid  %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
              </svg>
            </a></button>
            <!--Apagar-->
            <button onclick="botao_apagar()" type="button" class="btn btn-danger">
            <script>
            //Explorar a possibilidade de utilizar Jquery/JSDialog ou sweetalert
            function botao_apagar()
            {
                if (confirm("Quer mesmo apagar este Ticket?") == true) {
                    window.location = "{% url 'apagar_ticket' ticket.uuid %}"
                }
                else
                {
                    alert("Você cancelou.")
                }
            }
            </script>
            <!--<a href="{% url 'apagar_ticket' ticket.uuid %}">-->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
              </svg>
            <!--</a>--></button></td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    <!-- Condição para apresentar a lista caso não haja nenhum item -->
    {% else %}
        <p>Nenhum ticket encontrado.</p>
    {% endif %}
    <!-- Condição para apresentar a lista caso o utilizador seja um cliente -->
    {% else %}

    {% if tickets %}

    <button type="button" class="btn btn-primary"><a href="{% url 'novoticket' %}">Criar Novo Ticket</a></button>
    <button type="button" class="btn btn-primary"><a href="{% url 'ticketsnaoatribuidos' %}">Aceitar Tickets</a></button>
    <hr>
    
    <table class="table table-striped table-dark table-sm">
        <thead>
          <tr>
            <th class="col-2 col-sm-1">ID#</th>
            <th class="col-2 col-sm-1">Criado por:</th>
            <th class="col-2 col-sm-1">Título</th>
            <th class="col-2 col-sm-2">Data Criação</th>
            <th class="col-2 col-sm-2">Responsável</th>
            <th class="col-2 col-sm-1">Estado</th>
            <th class="col-3 col-sm-1"></th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in tickets %}  
          <tr>
            <th>{{ ticket.id }}</th>
            <td>{{ ticket.id_Proprietario.nome }}</td>
            <th scope="row">{{ ticket.nome }}</th>
            <td>{{ ticket.dataCriacao|date:"d/m/Y H:i" }}</td>
            <td>{{ ticket.usuarios.nome }}</td>
            <td><button style="background-color:{{ticket.estado.estado.font_color}}; border-color:{{ticket.estado.estado.font_color}}"type="button" class="btn btn-primary">{{ ticket.estado.estado }}</button></td>
            <!--Detalhes-->
            <td><button type="button" class="btn btn-primary"><a href="{% url 'detalheticket' ticket.uuid %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-detailed-fill" viewBox="0 0 16 16">
                <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zm4 1a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5m0 5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5M4 8a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H5a1 1 0 0 0-1 1"/>
              </svg>
              </a></button>
          </tr>
          {% endfor %}
        </tbody>
    </table>
        
    {% else %}
        <p>Nenhum ticket encontrado.</p>
    {% endif %}
    
    {% endif %}

    {% endif %}
</body>
{% endblock content %}