{% extends "ticket/base.html" %}
{% block content %}
<body>
    <!-- Formulário para pesquisa com filtro -->
    <div class="card-header">
        <form method="get">
            {{ filter.form.as_p }}
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
    </div>
    <hr>
    <button type="button" class="btn btn-primary"><a href="{% url 'register' %}">Registar Novo utilizador</a></button>
    <button type="button" class="btn btn-primary"><a href="{% url 'criar_appuser' %}">Associar App a utilizador</a></button>
    <hr>
    <!-- Número de itens que aparecem na tabela -->
    <h3>Resultados: {{ total }} usuário(s) encontrado(s)</h3>
    <hr>
    <!-- Tabela que apresenta a lista de itens -->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID#</th>
                <th>Nome</th>
                <th>Entidade</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Função</th>
                <th>Ativo</th>
                <th>Admin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuario %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.nomes_entidade }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.telefone }}</td>
                <td>{{ usuario.role }}</td>
                <td>{{ usuario.is_active }}</td>
                <td>{{ usuario.is_admin }}</td>
                <td>
                    <button type="button" class="btn btn-success"><a title="Editar Utilizador" href="{% url 'editar_perfil' usuario.uuid %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                        </svg>
                      </a></button>
                    <!-- Perguntar se vai ser necessário botão para mandar mail de recuperação ao user a partir de admin

                    <button type="button" class="btn btn-info"><a title="Mandar e-mail para utilizador definir nova password" href="{% url 'editar_pass' usuario.uuid %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pass-fill" viewBox="0 0 16 16">
                        <path d="M10 0a2 2 0 1 1-4 0H3.5A1.5 1.5 0 0 0 2 1.5v13A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-13A1.5 1.5 0 0 0 12.5 0zM4.5 5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1m0 2h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1"/>
                        </svg>
                      </a></button>
                      
                    -->
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">Nenhuma aplicação registrada</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock content %}