{% extends "ticket/base.html" %}
{% block content %}
<body>
    <style>
        #labelA
          {
            color:#5e5f5f;
            margin-right: 5px;
            display: inline-block;
            font-weight:bold;    
          }
        input,select
          {
            border-radius: 7px;
            margin-right: 7px;
            border-width:1px;
            border-color:#117B76;        
          }
        #contrario:hover{
            background-color:#117B76;
            border-color:#117B76;
            color:#fafafa;
            transition: 0.5s
          }
    
        #contrario
          {
              background-color:#fafafa;
              border-color:#117B76;
              color:#117B76;
              transition: 0.5s
          }
        #setacima
          {
            position:absolute;
            padding-left:9px;
            top:39%
          }
        #setabaixo
          {
            position:absolute;
            padding-left:9px;
            top:41%
          }
    </style>
    <!-- Formulário para pesquisa com filtro -->
    <div class="card-header">
        <form method="get">
            <label id="labelA">ID</label>
            {{ filter.form.id}} 
            <label id="labelA">Utilizador</label>
            {{ filter.form.nome}}
            <label id="labelA">Externo?</label>
            {{ filter.form.externo}} 
            <br>
              <hr style="background-color:black"></hr>
            <br>
            <button type="submit" class="btn btn-primary">Procurar</button>
            
            <!--<form method="get">
                {{ filter.form.as_p }}
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>-->
        </form>
        </div>
    <hr>
    <button type="button" class="btn btn-primary"><a href="{% url 'criar_entidades' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
        </svg>
    </a></button>
    <button type="button" class="btn btn-primary"><a href="{% url 'associar_entid_app' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
            <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
            <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z"/>
        </svg> Ligar App a Entidade
    </a></button>
    <hr>
    <!-- Número de itens que aparecem na tabela 
    <h3>Resultados: {{ total }} entidades(s) encontrada(s)</h3>
    <hr> -->
    <!-- Tabela que apresenta a lista de itens -->
    <table class="table table-bordered table-light">
        <thead style="color:#117B76; background-color:#dbf5f3">
            <tr>

                <th style="text-align:center" class="col-2 col-sm-1">ID#
                    <a style="position:absolute;padding-left:9px;top:15%" href="{{ request.get_full_path }}?&ordem=1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 13 9">
                      <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                      </svg>
                    </a>
                    <a style="position:absolute;padding-left:9px;top:45%" href="{{ request.get_full_path }}?&ordem=2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 13 13">
                      <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                      </svg>
                    </a>
                </th>

                <th>Nome

                    <a id="setacima" href="{{ request.get_full_path }}&ordem=3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 13 9">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                        </svg>
                      </a>
                      <a id="setabaixo" href="{{ request.get_full_path }}&ordem=4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 13 13">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                      </a>
    
                </th>

                <th>Externo

                    <a id="setacima" href="{{ request.get_full_path }}&ordem=5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 13 9">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                        </svg>
                      </a>
                      <a id="setabaixo" href="{{ request.get_full_path }}&ordem=6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 13 13">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                    </a>
    
                </th>
            </tr>
        </thead>
        <tbody>
            {% for entidade in page_obj %}
            <tr>
                <td style="text-align:center">{{ entidade.id }}</td>
                <td>{{ entidade.nome }}</td>
                <td>{{ entidade.externo }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">Nenhuma entidade registada</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginação -->
    <div class="pagination" style="position:absolute;left:42%">
        <span class="step-links">

          <div style="display:inline;">
              {% if page_obj.has_previous %}
                  <button id="contrario" class="btn btn-primary"><a href="{{ request.get_full_path }}?&page=1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-backward-fill" viewBox="0 0 16 16">
                      <path d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5"/>
                    </svg>
                  </a></button>
                  <button id="contrario" class="btn btn-primary"><a href="{{ request.get_full_path }}?&page={{ page_obj.previous_page_number }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                      <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                  </a></button>
              {% endif %}
            </div>

            <div style="display:inline;">
              {% for page in paginator %}
                {% if page.number == page_obj.number %}
                <button style="font-size: 16px;" class="btn btn-primary">
                  <a style="font-weight:bold;"href="{{ request.get_full_path }}?&page={{page.number}}">{{page.number}}</a>
                </button>
                {% else %}
                <button style="font-size: 16px;" id="contrario" class="btn btn-primary">
                  <a style="font-weight:bold;"href="{{ request.get_full_path }}?&page={{page.number}}">{{page.number}}</a>
                </button>
                {% endif %}
              {% endfor %}
            </div>
          
            <div style="display:inline;">
              {% if page_obj.has_next %}
                <button id="contrario" class="btn btn-primary"><a href="{{ request.get_full_path }}?&page={{ page_obj.next_page_number }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg>
                </a></button>
                <button id="contrario" class="btn btn-primary"><a href="{{ request.get_full_path }}?&page={{ page_obj.paginator.num_pages }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-forward-fill" viewBox="0 0 16 16">
                    <path d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.753l-6.267 3.636c-.54.313-1.233-.066-1.233-.697v-2.94l-6.267 3.636C.693 12.703 0 12.324 0 11.693V4.308c0-.63.693-1.01 1.233-.696L7.5 7.248v-2.94c0-.63.693-1.01 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5"/>
                  </svg>
                </a></button>
              {% endif %}
            </div>

        </span>
        
    </div>

</body>
{% endblock content %}