{% extends "ticket/base.html" %}
{% block content %}
<style>
    #id_app_tpPedidos, #id_nome, #id_descricao, #id_app 
        {
            width: 350px;
        }
    #espaco h6
        {
            font-weight:bold;
        }
    #espaco select
        {  
            width:380px;
        }
    #id_nome
        {
            width:550px;
        }
    #id_descricao
        {
            height:210px;
            width:550px;
        }
</style>
    <div>
        <h2 style="font-weight:bold; margin-bottom:25px; color:#117B76">Abrir Ticket</h2>
        <form id="espaco" method="post">
            {% csrf_token %}
            <h6>Aplicação:</h6>
            {{ form.app }}
            <p></p>
            <h6>Tipo problema:</h6>
            {{ form.app_tpPedidos }}
            <p></p>
            {% if user.role == "Interno" or user.role == "Operador" or user.is_admin %}
            <h6>Prioridade:</h6>
            {{ form.prioridade }}
            <p></p>
            {% endif %}
            <h6>Titulo:</h6>
            {{ form.nome }}
            <p></p>
            <h6>Descrição</h6>
            {{ form.descricao }}
            <p></p>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <button type="button" class="btn btn"><a href="{% url 'listaticket' %}?aberto=1">Voltar</a></button>
        </form>
    </div>

    <hr>

        <script>
            var items = {nome:"{{apps}}",idade:"beh"};
            console.log (items.nome);
            var subjectObject = {
            "Qloudyx": {
                "QloudyxProject":"QloudyxProject",
                "AtlasDev":"AtlasDev",
                "QimobDev":"QimobDev", 
            },
            "Vanessa Tavares": {
                "Qimob":"Qimob",
                "Qimeb":"Qimeb",
            },
            }
            window.onload = function() {
            var subjectSel = document.getElementById("entidade");
            var topicSel = document.getElementById("app");
            for (var x in subjectObject) {
                subjectSel.options[subjectSel.options.length] = new Option(x, x);
            }
            subjectSel.onchange = function() {
                //empty Chapters- and Topics- dropdowns
                topicSel.length = 1;
                //display correct values
                for (var y in subjectObject[this.value]) {
                topicSel.options[topicSel.options.length] = new Option(y, y);
                }
            }
            
            }
        </script>
        <!--
        <h2 style="font-weight:bold; margin-bottom:25px; color:#117B76">Cascading Dropdowns</h2>
        
        <form name="form1" id="espaco">
            <h6>Entidades:</h6> 
            <p></p>
            <select name="entidade" id="entidade">
            <option value="" selected="selected">------------</option>
          </select>
          <br><br>
            <h6>Apps:</h6>
            <p></p> 
            <select name="app" id="app">
            <option value="" selected="selected">------------</option>
          </select>
          <br><br>
          <input type="submit" value="Submit"></input>
        </form>
        -->

       
{% endblock content %}