{% extends "ticket/base.html" %}
{% block content %}
<head>
    <title>Gráfico de Vendas</title>
</head>
<body>
    <canvas id="ticketChart" width="400" height="200"></canvas>
    <script>
        // Função para buscar os dados do backend
        async function fetchTicket() {
            const response = await fetch("/api/ticketcharts/");
            const data = await response.json();
            return data;
        }

        // Inicializar o gráfico
        fetchTicket().then(data => {
            const ctx = document.getElementById('ticketChart').getContext('2d');
            new Chart(ctx, {
                type: 'line', // Ou 'bar', 'pie', etc.
                data: {
                    labels: data.labels, // Datas
                    datasets: [{
                        label: 'Vendas',
                        data: data.values, // Valores de vendas
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
</body>
{% endblock content %}