{% extends "ticket/base.html" %}
{% block content %}
{% load static %}
<html>
<head>
    <title>Gráfico de Vendas</title>
</head>
<body>
    <div>
        <canvas id="myChart"></canvas>
      </div>
      
      {{ final.values }}
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
          type: 'line',
          data: {
            //labels: [final.labels],
            labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'] ,
            datasets: [{
              label: '# de Tickets',
              data: {{ final.values }},
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
       
</body>
</html>
{% endblock content %}