{% extends "ticket/base.html" %}
{% block content %}
    <div id = "contentLogin">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Queres uma conta?<a class="ml-2" href="{% url 'register' %}">Inscreve-te</a></small>
        </div>
    </div>
{% endblock content %}